<div class="container-fluid">
<h1 align = "center">Tags</h1>
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-tags"></i> Tags</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Tag</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Tag</th>
          </tr>
        </tfoot>
        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td>
              <i class = 'fa fa-tag'></i>
              <%= link_to tag.name, tag_path(tag), method: :get %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
